<%= form_with(model: authmethod, local: true) do |form| %>
  <% if authmethod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authmethod.errors.count, "error") %> prohibited this authmethod from being saved:</h2>

      <ul>
      <% authmethod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uuid %>
    <%= form.text_field :uuid, id: :authmethod_uuid %>
  </div>

  <div class="field">
    <%= form.label :endpoint %>
    <%= form.text_field :endpoint, id: :authmethod_endpoint %>
  </div>

  <div class="field">
    <%= form.label :properties %>
    <%= form.text_area :properties, id: :authmethod_properties %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
