<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uuid %>
    <%= form.text_field :uuid, id: :subscription_uuid %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :subscription_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :subscription_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
