<p id="notice"><%= notice %></p>

<h1>Cloudcredentials</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Properties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cloudcredentials.each do |cloudcredential| %>
      <tr>
        <td><%= cloudcredential.uuid %></td>
        <td><%= cloudcredential.properties %></td>
        <td><%= link_to 'Show', cloudcredential %></td>
        <td><%= link_to 'Edit', edit_cloudcredential_path(cloudcredential) %></td>
        <td><%= link_to 'Destroy', cloudcredential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cloudcredential', new_cloudcredential_path %>
