<p id="notice"><%= notice %></p>

<h1>Authcredentials</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Properties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authcredentials.each do |authcredential| %>
      <tr>
        <td><%= authcredential.uuid %></td>
        <td><%= authcredential.properties %></td>
        <td><%= link_to 'Show', authcredential %></td>
        <td><%= link_to 'Edit', edit_authcredential_path(authcredential) %></td>
        <td><%= link_to 'Destroy', authcredential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authcredential', new_authcredential_path %>
